
<div class="card" style="width: 36rem; text-align: center; margin: auto; margin-top: 24px;">
  <img src='<%= @pig.photo.attached? ? (cl_image_path @pig.photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>' class="card-img-top" alt='photo' style= "height: 250px; object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title"><%= @pig.name %></p></h5>
    <p class="card-text"><%= @pig.description %>
    <p>Price/Day: <%= @pig.price_per_day %>€</p>
    <p>Owner First Name: <%= @pig.user.first_name %>
    </p><p>Owner Last Name: <%= @pig.user.last_name %>
    <p><%= link_to 'book the pig', new_pig_booking_path(@pig) %></p>
    </p><p>
    <% if policy(@pig).edit? %>
      <%= link_to 'delete  ', pig_path, method: :delete %>
    <% end %>
    <% if policy(@pig).edit? %>
      <%= link_to 'edit', edit_pig_path %></p>
    <% end %>
</p>
  </div>
</div>
<div style="text-align: center; margin-top: 10px;">
  <%= link_to 'return to all pigs', pigs_path %>
</div>


