<div class="container">
  <div class="row justify-content-around align-items-baseline">
    <div class="card col-sm-12 col-md-5 mr-0 ml-0" style="width: 36rem; text-align: center; margin: auto; margin-top: 24px;">
      <img src='<%= @pig.photo.attached? ? (cl_image_path @pig.photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>' class="card-img-top mt-3" alt='photo' style= "height: 250px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title"><%= @pig.name %></p></h5>
        <p class="card-text"><%= @pig.description %>
        <p>Price/Day: <%= @pig.price_per_day %>€</p>
        <p>Location: <%= @pig.location %></p>
        <p>Owner First Name: <%= @pig.user.first_name %></p>
        <p>Owner Last Name: <%= @pig.user.last_name %></p>
        <% if policy(@pig).edit? %>
          <%= link_to 'delete  ', pig_path, method: :delete %>
        <% end %>
        <% if policy(@pig).edit? %>
          <%= link_to 'edit', edit_pig_path %></p>
        <% end %>
      </div>
    </div>

    <div class="card col-sm-12 col-md-5 col-lg-5 mt-4 mr-0 ml-0 pb-5 pt-4">
      <div class="d-flex pl-1 pr-1 align-items-center justify-content-between"><h1 style="color: rgb(245, 122, 143);">Book <%= @pig.name%> </h1> <h5 style="color: rgb(255, 143, 161);">(<%= @pig.price_per_day  %>€ per day)</h5></div>
        <%= simple_form_for [@pig, @booking] do |f| %>
          <%= f.input :start_date, as: :string, required: false, as: :hidden, input_html: { id: "range_start", class:"label-hiddn" } %>
          <%= f.input :end_date, as: :string, required: false, as: :hidden, input_html: { id: "range_end", class:"label-hidde" } %>
          <%= f.submit "Book", class: 'btn btn-perso mt-3 w-100' %>
        <% end %>
      </div>
    </div>
  <div style="text-align: center" class=" pink-link mb-2 mt-3">
      <%= link_to 'return to all pigs', pigs_path %>
  </div>
</div>

