 <ul class="list-inline tabs-underlined mt-3 mb-5 col-6 offset-3">
  <li>
    <a href="#" class="tab-underlined active">My demands</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Pending requests</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">All requests</a>
  </li>
</ul>


<h1> My demands </h1>
 <% @bookings.each do |booking| %>
    <div class="card-product col-6 offset-3">
      <img src='<%= booking.pig.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path booking.pig.photo.key, crop: :fill) %>'/>
      <div class="card-product-infos">
        <h2><%= booking.pig.name %></h2>
        <p>Start date : <%= booking.start_date %></p>
        <p>End date : <%= booking.end_date %></p>
        <p><strong>Total : <%= booking.pig.price_per_day * (booking.end_date - booking.start_date).to_f.to_i %> €</strong></p>
      </div>
      <div class="card-product-infos ml-auto">
        <% if booking.status == nil %>
            <h2 style="color: blue;">Status : not accepted yet</h2>
        <% elsif booking.status == true %>
            <h2 style="color: green;">Status : accepted</h2>
        <% else %>
            <h2 style="color: red;">Status : declined</h2>
        <% end %>
      </div>
    </div>
 <% end %>

<h1> Demands for my piggs</h1>
<h2> Pending </h2>
 <% @demands.each do |demand| %>
  <% if demand.status == nil %>
      <div class="card-product col-6 offset-3">
        <img src='<%= demand.pig.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path demand.pig.photo.key, crop: :fill) %>'/>
        <div class="card-product-infos w-100%">
          <h2><%= demand.pig.name %></h2>
          <p>Renter : <%= demand.user.first_name %></p>
          <p>Start date : <%= demand.start_date %></p>
          <p>End date : <%= demand.end_date %></p>
          <p><strong>Total : <%= demand.pig.price_per_day * (demand.end_date - demand.start_date).to_f.to_i %> €</strong></p>
        </div>
        <div class="card-product-infos ml-auto">
          <%= link_to "Accept", dashboard_path(id: demand.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'text-primary' %>
        </div>
        <div class="card-product-infos">
          <%= link_to "Decline", dashboard_path(id: demand.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'text-alert' %>
        </div>
      </div>
  <% end %>
 <% end %>

 <h2> Accepted </h2>
 <% @demands.each do |demand| %>
  <% if demand.status == true %>
      <div class="card-product col-6 offset-3">
        <img src='<%= demand.pig.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path demand.pig.photo.key, crop: :fill) %>'/>
        <div class="card-product-infos w-100%">
          <h2><%= demand.pig.name %></h2>
          <p>Renter : <%= demand.user.first_name %></p>
          <p>Start date : <%= demand.start_date %></p>
          <p>End date : <%= demand.end_date %></p>
          <p><strong>Total : <%= demand.pig.price_per_day * (demand.end_date - demand.start_date).to_f.to_i %> €</strong></p>
        </div>
        <div class="card-product-infos ml-auto">
          <% if demand.status == true %>
              <h2 style="color: green;">Status : accepted</h2>
          <% else %>
              <h2 style="color: red;">Status : declined</h2>
          <% end %>
        </div>
      </div>
  <% end %>
 <% end %>

 <h2> Rejected </h2>
 <% @demands.each do |demand| %>
  <% if demand.status == false %>
      <div class="card-product col-6 offset-3">
        <img src='<%= demand.pig.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path demand.pig.photo.key, crop: :fill) %>'/>
        <div class="card-product-infos w-100%">
          <h2><%= demand.pig.name %></h2>
          <p>Renter : <%= demand.user.first_name %></p>
          <p>Start date : <%= demand.start_date %></p>
          <p>End date : <%= demand.end_date %></p>
          <p><strong>Total : <%= demand.pig.price_per_day * (demand.end_date - demand.start_date).to_f.to_i %> €</strong></p>
        </div>
        <div class="card-product-infos ml-auto">
          <% if demand.status == true %>
              <h2 style="color: green;">Status : accepted</h2>
          <% else %>
              <h2 style="color: red;">Status : declined</h2>
          <% end %>
        </div>
      </div>
  <% end %>
 <% end %>
