 <nav class="mt-3 mb-5 col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2 offset-lg-3">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">My demands</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">My pigs pending requests</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">All requests for my pigs</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <% @bookings.each do |booking| %>
        <div class="card-product col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2 offset-lg-3">
          <img src='<%= booking.pig.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path booking.pig.photo.key, crop: :fill) %>'/>
          <div class="card-product-infos">
            <h2><%= booking.pig.name %></h2>
            <p>Start date : <%= booking.start_date %></p>
            <p>End date : <%= booking.end_date %></p>
            <p><strong>Total : <%= booking.pig.price_per_day * (booking.end_date - booking.start_date).to_f.to_i %> €</strong></p>
          </div>
          <div class="card-product-infos ml-auto">
            <% if booking.status == nil %>
                <h2 style="color: rgb(155, 37, 57);">Not accepted yet</h2>
            <% elsif booking.status == true %>
                <h2 style="color: green;">Status : accepted</h2>
                <p><%= link_to "Add a review", new_pig_review_path(booking.pig) %></p>
            <% else %>
                <h2 style="color: red;">Declined</h2>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <% @demands.each do |demand| %>
      <% if demand.status == nil %>
          <div class="card-product col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2 offset-lg-3">
            <img src='<%= demand.pig.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path demand.pig.photo.key, crop: :fill) %>'/>
            <div class="card-product-infos w-100%">
              <h2><%= demand.pig.name %></h2>
              <p>Renter : <%= demand.user.first_name %></p>
              <p>Start date : <%= demand.start_date %></p>
              <p>End date : <%= demand.end_date %></p>
              <p><strong>Total : <%= demand.pig.price_per_day * (demand.end_date - demand.start_date).to_f.to_i %> €</strong></p>
            </div>
            <div class="card-product-infos ml-auto">
              <%= link_to "Accept", dashboard_path(id: demand.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'text-primary' %>
            </div>
            <div class="card-product-infos">
              <%= link_to "Decline", dashboard_path(id: demand.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'text-alert' %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <h2 class="col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2 offset-lg-3"> Accepted </h2>
      <% @demands.each do |demand| %>
        <% if demand.status == true %>
            <div class="card-product col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2 offset-lg-3">
              <img src='<%= demand.pig.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path demand.pig.photo.key, crop: :fill) %>'/>
              <div class="card-product-infos w-100%">
                <h2><%= demand.pig.name %></h2>
                <p>Renter : <%= demand.user.first_name %></p>
                <p>Start date : <%= demand.start_date %></p>
                <p>End date : <%= demand.end_date %></p>
                <p><strong>Total : <%= demand.pig.price_per_day * (demand.end_date - demand.start_date).to_f.to_i %> €</strong></p>
              </div>
              <div class="card-product-infos ml-auto">
                <% if demand.status == true %>
                    <h2 style="color: green;">Status : accepted</h2>
                <% else %>
                    <h2 style="color: red;">Status : declined</h2>
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>

      <h2 class="col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2 offset-lg-3"> Rejected </h2>
      <% @demands.each do |demand| %>
        <% if demand.status == false %>
            <div class="card-product col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2 offset-lg-3">
              <img src='<%= demand.pig.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path demand.pig.photo.key, crop: :fill) %>'/>
              <div class="card-product-infos w-100%">
                <h2><%= demand.pig.name %></h2>
                <p>Renter : <%= demand.user.first_name %></p>
                <p>Start date : <%= demand.start_date %></p>
                <p>End date : <%= demand.end_date %></p>
                <p><strong>Total : <%= demand.pig.price_per_day * (demand.end_date - demand.start_date).to_f.to_i %> €</strong></p>
              </div>
              <div class="card-product-infos ml-auto">
                <% if demand.status == true %>
                    <h2 style="color: green;">Status : accepted</h2>
                <% else %>
                    <h2 style="color: red;">Status : declined</h2>
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>
  </div>
</div>
