 <h1> All my booking demands </h1>

 <ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.user.first_name %></li>
    <li><%= booking.pig.name %></li>
    <% if booking.status == nil %>
        <li style="color: blue;">not accepted yet</li>
    <% elsif booking.status == true %>
        <li style="color: green;">accepted</li>
    <% else %>
        <li style="color: red;">decline</li>
    <% end %>
    <li><%= booking.start_date %></li>
    <li><%= booking.end_date %></li>
    <li>Total : <%= booking.pig.price_per_day * (booking.end_date - booking.start_date).to_f.to_i %> €</li>
  <% end %>
 </ul>


<h1> All demands for my piggs </h1>
<h2> Pending </h2>
 <ul>
  <% @demands.each do |demand| %>
    <% if demand.status == nil %>
      <li>Renter : <%= demand.user.first_name %></li>
      <li>Pig name : <%= demand.pig.name %></li>
      <li><%= link_to "Accept", dashboard_path(id: demand.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'text-primary' %></li>
      <li><%= link_to "Decline", dashboard_path(id: demand.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'text-alert' %></li>
      <li>Start date: <%= demand.start_date %></li>
      <li>End date : <%= demand.end_date %></li>
    <% end %>
  <% end %>
 </ul>
 <h2> Accepted </h2>
 <ul>
  <% @demands.each do |demand| %>
    <% if demand.status == true %>
      <li>Renter : <%= demand.user.first_name %></li>
      <li>Pig name : <%= demand.pig.name %></li>
      <li>Start date: <%= demand.start_date %></li>
      <li>End date : <%= demand.end_date %></li>
    <% end %>
  <% end %>
 </ul>
 <h2> Rejected </h2>
 <ul>
  <% @demands.each do |demand| %>
    <% if demand.status == false %>
      <li>Renter : <%= demand.user.first_name %></li>
      <li>Pig name : <%= demand.pig.name %></li>
      <li>Start date: <%= demand.start_date %></li>
      <li>End date : <%= demand.end_date %></li>
    <% end %>
  <% end %>
 </ul>
