<!DOCTYPE html>
<html>
  <head>
    <title>PorkEtPick</title>
    <link rel="icon" href="https://img.icons8.com/emoji/452/pig-emoji.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="main-body-container">
    <%= yield %>
    </div>
  <div class="bottom">
  <div class="row footer w-100 text-center">
    <div class="col-4 col">
      <h2>Pork et Pick</h2>
      <ul>
        <li>About</li>
        <li>Services</li>
      </ul>
    </div>
    <div class="col-4 col">
      <h2>Support</h2>
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
      </ul>
    </div>
    <div class="col-4 col social">
      <h2>Social</h2>
      <ul class="list-icon">
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-github"></i></li>
      </ul>
  </div>
  </div>
  </body>
</html>
